.chat-item {
	.room-name {
		color: var(--interaction-norm) !important;
	}

	.participant-enter--ellipsis {
		overflow: hidden;
		-webkit-line-clamp: 3;
		/* stylelint-disable-next-line */
		display: -webkit-box;
		/* stylelint-disable-next-line */
		-webkit-box-orient: vertical;
	}
}
