.create-meeting-dropdown {
	color: #0f0f0f66 !important;
	border: 1px solid rgb(255 255 255 / 0.08) !important;
	border-radius: var(--border-radius-xxl) !important;

	--selection-background-color: transparent !important;
	--selection-text-color: var(--interaction-norm) !important;

	&.dropdown {
		backdrop-filter: blur(40px) !important;
		color: #0f0f0f66;
		background: rgb(15 15 15 / 0.4);
		box-shadow: 0 4px 16px 0 rgb(0 0 0 / 0.25);

		.dropdown-content {
			background: none;
		}
	}

	.dropdown-content::before,
	.dropdown-content::after {
		display: none;
	}

	.create-meeting-dropdown-menu {
		min-block-size: 2.813rem;
		border-radius: 1rem;
		color: var(--text-weak);
		font-size: 0.875rem;
		font-weight: 500;
		white-space: nowrap;

		&:hover {
			background: var(--interaction-norm-minor-3);
		}
	}
}

.create-meeting-dropdown::before,
.create-meeting-dropdown::after {
	background: #16161fcc !important;
}
