.create-schedule-bg {
	background-color: var(--background-norm) !important;
}

.create-container {
	& > *:not(.button),
	.input,
	.select,
	.field,
	label,
	span:not(.button *),
	div:not(.button *) {
		font-size: 0.875rem;
	}

	.create-container-title {
		font-size: 1.75rem !important;
	}

	.field-two-assist {
		display: none !important;
	}

	.input,
	.select {
		background-color: var(--background-card) !important;
		border-radius: 1.5rem !important;
		padding: 0.5rem !important;
		border-width: 0.063rem !important;
		border-style: solid;
		border-color: var(--border-weak);
	}

	.select {
		padding: 1.5rem !important;
	}

	.date-input {
		justify-content: center !important;
		align-items: center !important;
	}

	.input.focus,
	.input:not(.disabled):focus-within {
		box-shadow: 0 0 0 0.063rem var(--ui-purple-interaction-minor-1);
	}

	.button {
		padding: 0.8rem;
	}

	.timezone-button {
		font-weight: 500 !important;
	}

	.schedule-proton-calendar-button {
		font-weight: 500 !important;
	}

	.save-button {
		color: black;
		background: var(--interaction-norm);
		border: 1px solid #ffffff0a;
	}

	.save-button:hover,
	.save-button:active {
		color: black;
		background: #c1b8ff;
	}

	.delete-button {
		background-color: var(--background-card);
		border: 1px solid var(--border-norm);
		color: white;
	}

	.delete-button:hover,
	.delete-button:active {
		background-color: var(--button-lighter-hover-background-color);
		color: #a0a0a0;
	}

	.input-link {
		color: var(--ui-purple-interaction-minor-1);
		background-color: var(--background-card);
		border-radius: var(--border-radius-xxl);
	}

	.button-copy {
		background-color: var(--ui-purple-interaction-minor-3);
		color: var(---ui-purple-interaction-minor-1);

		&:hover,
		&:focus,
		&:active {
			background-color: var(--ui-purple-interaction-minor-2);
		}
	}
}

.select-two-repeat {
	.select-two-repeat-check-container {
		display: none;
	}

	&.select-two-repeat:focus,
	&.select-two-repeat:focus-within,
	&.select-two-repeat[aria-expanded='true']:not([aria-controls]) {
		// specificity inferno
		box-shadow: 0 0 0 0.063rem var(--ui-purple-interaction-minor-1) !important;
	}

	// a bit of reset to get it like we want
	&-dropdown {
		padding-inline: var(--space-2);
		padding-block: var(--space-4);

		.select-two-repeat-check-container {
			color: var(--interaction-norm);
		}

		.dropdown-content {
			border-radius: 0;
		}

		.dropdown-item-button {
			padding-block: var(--space-3);
			border-radius: var(--border-radius-xl);

			&.dropdown-item--is-selected {
				background-color: transparent !important;
				pointer-events: unset !important;
			}

			&,
			&.dropdown-item--is-selected {
				&:hover,
				&:focus-visible {
					background-color: var(--interaction-norm-minor-3) !important;
				}
			}
		}
	}
}

.field {
	&:focus {
		box-shadow: 0 0 0 0.063rem var(--interaction-norm) !important;
	}
}

.select-two-timezone-select {
	box-shadow: none !important;

	&[aria-expanded='true']:not([aria-controls]),
	&:focus,
	&:focus-within {
		border-color: transparent !important;
		box-shadow: 0 0 0 0.063rem var(--ui-purple-interaction-minor-1) !important;
	}
}

.create-container-dropdown {
	border-radius: var(--border-radius-xxl) !important;
	border: 1px solid var(--border-norm) !important;
	overflow: hidden;

	body &:has(.minicalendar) {
		padding: 0.5rem;
	}

	.minicalendar {
		.today-icon {
			border-radius: var(--border-radius-full) !important;
		}
	}

	.minicalendar-grid {
		padding-block-end: 0 !important;
	}

	.minicalendar-day {
		opacity: 1 !important;
		border: none !important;
	}

	.minicalendar-day--selected::before {
		background-color: var(--interaction-norm) !important;
		border-radius: var(--border-radius-full) !important;
		color: var(--text-invert) !important;
	}

	.minicalendar-day--selected::after {
		border: none !important;
		background: transparent !important;
	}

	.minicalendar-day[aria-pressed='true'] {
		background: transparent !important;
	}

	.minicalendar-day--selected .minicalendar-day-number {
		color: var(--text-invert) !important;
	}

	.minicalendar-day[aria-current='date']::before {
		border: none !important;
	}

	.minicalendar-day[aria-current='date']::after {
		border-radius: var(--border-radius-full) !important;
	}

	.field {
		border-color: var(--border-norm) !important;

		&:focus {
			box-shadow: 0 0 0 0.063rem var(--interaction-norm) !important;
		}
	}

	// tz
	&.select-two-timezone-dropdown {
		padding-block-start: 0;

		.field {
			block-size: auto !important;
			padding-block: var(--space-3) !important;
			border-radius: var(--border-radius-xl) !important;
			padding-inline-start: 2.4rem !important;
		}

		.left-icon {
			inset-block-start: 0.45rem !important;
			inset-inline-start: 0.75rem !important;
		}

		.timezone-name {
			color: var(--text-weak);
		}

		.timezone-separator {
			visibility: hidden;
		}
	}

	.dropdown-content {
		border-radius: 1rem !important;
	}

	.dropdown-item-button {
		border-radius: var(--border-radius-xl);
		padding-block: var(--space-3);
		background-color: var(--interaction-norm-minor-2);

		&:hover {
			background-color: var(--interaction-norm-minor-3) !important;
		}
	}

	.dropdown-item--is-selected {
		background-color: var(--interaction-norm-minor-2) !important;
	}
}
