.room-form {
	.title {
		line-height: 1.25;
		word-break: break-word;
	}

	.subtitle {
		line-height: 1.5;
		font-size: 1rem;
		font-weight: 500;
	}

	.input-name {
		&:active,
		&:focus-within {
			border-color: var(--theme-color) !important;
			box-shadow: 0 0 0 0.063rem var(--theme-color) !important;
		}
	}

	.input-submit {
		&:not(:disabled) {
			background-color: var(--theme-color) !important;
		}

		color: var(--text-invert) !important;
	}

	&.variant-orange {
		--theme-color: var(--ui-orange-interaction-minor-1);
	}

	&.variant-blue {
		--theme-color: var(--ui-blue-interaction-minor-1);
	}

	&.variant-green {
		--theme-color: var(--ui-green-interaction-minor-1);
	}

	&.variant-red {
		--theme-color: var(--ui-red-interaction-norm);
	}

	.room-form-buttons {
		padding-block: 2.5rem;

		.button {
			padding-inline: 2.5rem;
			padding-block: 1rem;
			line-height: 1.5;
			flex: 1;
		}

		.cancel-button {
			background-color: var(--background-card);
			border: 1px solid var(--border-norm);
			color: white;
		}

		.cancel-button:hover,
		.cancel-button:active {
			background-color: var(--button-lighter-hover-background-color);
			color: #a0a0a0;
		}
	}
}
