@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/meet/meet-breakpoints' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints;
im.$media-expressions: $media-expressions;

.anonymous-modal {
	background-color: #0006 !important;

	.rejoin-meeting-button {
		text-decoration: none;
		color: var(--interaction-norm);
	}

	.modal-two-dialog-container,
	.modal-two-dialog {
		inline-size: 90%;
		box-shadow: none !important;
		box-shadow: 0 0 44px 0 #0003;

		@include im.media('>medium') {
			inline-size: 24.5rem !important;
			block-size: fit-content !important;
		}
	}
}

.create-account-button {
	background: var(--interaction-weak);

	&:hover,
	&:focus {
		background-color: var(--interaction-weak-major-1);
		border: 1px solid var(--interaction-weak-major-1);
	}
}

.create-account-secondary-button {
	background: var(--circle-button-transparent);
	border: 1px solid var(--circle-button-transparent);

	&:hover,
	&:focus {
		background: var(--interaction-weak);
		border: 1px solid var(--interaction-weak);
	}
}

.create-account-low-pressure-button {
	background: #ffffff0a;
	border: 1px solid #ffffff0a;

	&:hover,
	&:focus {
		background: #ffffff14;
		border: 1px solid #ffffff14;
	}
}

.cta-modal-title {
	font-size: 2em;

	&.upsell-modal-title {
		font-size: 2.25em;
	}
}

.cta-modal-subtitle {
	font-size: 1em;
}

.rejoin-meeting-button {
	text-decoration: none !important;
}

.cta-modal-rating-label {
	font-size: 1.125em;
}

.cta-modal-content-container {
	@include im.media('<=small') {
		inline-size: 100% !important;
	}
}

.cta-modal-rating-container {
	flex-direction: row;
	align-items: center;

	@include im.media('<=small') {
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-1) !important;
	}
}

.submit-rating-button {
	background: var(--interaction-weak);
	border: 1px solid var(--interaction-weak);
	color: var(--text-norm);

	&:hover,
	&:active {
		background-color: var(--interaction-weak-major-1);
		border: 1px solid var(--interaction-weak-major-1);
	}
}

.submit-rating-button-secondary {
	color: var(--interaction-norm-contrast);
	background-color: var(--interaction-norm);

	&:hover,
	&:focus {
		background-color: var(--interaction-norm-major-1);
	}

	&:active {
		background-color: var(--interaction-norm-major-2);
	}
}

.feedback-comment {
	background: var(--background-weak);
	border: 1px solid var(--interaction-norm) !important;
	border-radius: 1em !important;
}

.add-optional-details-button {
	color: var(--interaction-norm-contrast) !important;
	text-decoration: none !important;
	text-decoration-skip-ink: none !important;
}

.back-dashboard-button {
	background: var(--background-card);
	border: 1px solid var(--border-card);

	&:hover,
	&:active {
		background-color: var(--background-weak);
		border: 1px solid var(--background-weak);
	}
}

.add-details-button {
	font-size: 0.875em;
	text-decoration: none !important;
}

.sign-in-button-container {
	font-weight: 500;

	.sign-in-button {
		color: var(--interaction-norm);
		font-weight: 600;

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
			color: var(--text-norm);
		}
	}
}

.upsell-modal {
	.upsell-modal-button {
		line-height: 1.5rem;
		background: linear-gradient(316deg, var(--interaction-norm) 21.43%, #d1cbff 115.05%) !important;
	}

	&.meet-glow-effect {
		&::before {
			margin-inline-start: -25vw;
		}

		&::after {
			margin-inline-end: -25vw;
		}
	}
}
