.meeting-details-card {
	border-radius: 2rem;
	border: 1px solid var(--border-weak);
	background-color: var(--background-card);
	color: white;
}

.meeting-details {
	font-size: 0.875rem;
	color: var(--text-weak);
}

.meeting-title {
	font-size: 1rem;
	font-weight: 600;
}

.done-button {
	padding: 0.8rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

.meeting-icon--added .meeting-icon-check {
	animation: checkAnimation 0.5s cubic-bezier(0.42, 1.15, 0.64, 1) both;
	animation-delay: 0.25s;
	transform-origin: center;

	@keyframes checkAnimation {
		0% {
			opacity: 0;
			transform: scale(0);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.calendar-dropdown-button {
	padding: 0.8rem;
	font-size: 1rem;
}

.calendar-dropdown {
	color: #0f0f0f66 !important;
	background: #16161fcc !important;
	box-shadow: 0 4px 16px 0 #00000040 !important;
	backdrop-filter: blur(80px) !important;
	border: 1px solid var(--circle-button-transparent) !important;
	min-inline-size: 15em;

	.dropdown-content {
		color: #0f0f0f66;
		background: #16161fcc;
		box-shadow: 0 4px 16px 0 #00000040;
		backdrop-filter: blur(80px);
		border: none;
	}

	.dropdown-content::before,
	.dropdown-content::after {
		background: #16161fcc;
	}

	.calendar-dropdown-menu {
		min-block-size: 2.813rem;
		border-radius: 1rem;
		color: var(--text-weak);
		font-size: 0.875rem;
		font-weight: 500;
		white-space: nowrap;
	}

	&::before,
	&::after {
		background: #16161fcc !important;
	}
}

.button-copy-meeting-link {
	background: var(--ui-purple-interaction-minor-3);
}

.meeting-link {
	font-size: 0.875rem;
	font-weight: 500;
}

.header-button {
	font-size: 0.875rem;
	font-weight: 500;
}
