.join-with-link-modal {
	padding-block-end: 10rem;
	inline-size: 40rem;
	max-inline-size: 100%;

	.join-with-link-title {
		font-size: 1.5em;
	}

	.join-with-link-subtitle {
		font-size: 1em;
	}

	.cancel-button {
		background: var(--background-card);
		border: 1px solid var(--border-card);

		&:hover {
			background: var(--interaction-default-hover);
		}
	}

	.join-button {
		color: var(--text-invert);
		background: var(--interaction-norm);
	}

	.meeting-link-input {
		border: 1px solid var(--border-card);
		background: var(--background-card);

		&:hover,
		&:focus-within {
			background: var(--interaction-default-hover);
		}

		&.focus,
		&:not(.disabled):focus-within {
			border: 1px solid var(--ui-purple-interaction-minor-1);
			box-shadow: none;
		}

		input::placeholder {
			color: var(--text-disabled);
		}
	}

	.meeting-link-input-error {
		margin-block-start: -1.5rem;
		line-height: 1rem;
	}
}
