.join-with-link-modal {
	max-inline-size: 100%;

	.join-with-link-title {
		line-height: 1.25;
	}

	.join-with-link-subtitle {
		line-height: 1.5;
		font-size: 1rem;
		font-weight: 500;
	}

	.meeting-link-input {
		border: 1px solid var(--border-card);
		background: var(--background-card);

		&:hover,
		&:focus-within {
			background: var(--interaction-default-hover);
		}

		&.focus,
		&:not(.disabled):focus-within {
			border: 1px solid var(--ui-purple-interaction-minor-1);
			box-shadow: none;
		}

		input::placeholder {
			color: var(--text-disabled);
		}
	}

	.meeting-link-input-error {
		margin-block-start: -1.5rem;
		line-height: 1rem;
	}
}
