.translucent-modal {
	font-size: 1rem;
	backdrop-filter: blur(48px);
	background-color: rgb(0 0 0 / 0.3);

	.modal-two-dialog-container,
	.modal-two-dialog {
		background-color: transparent;
	}

	.header-buttons-container {
		.button {
			border-color: var(--border-weak);
			border-width: 1px;
		}

		.close-button {
			color: color-mix(in srgb, var(--text-norm) 80%, transparent);
		}
	}

	.translucent-modal_container {
		// Adding bottom margin to visually center the modal content in the middle of the screen because header push it down 80px
		margin-block-end: 5rem;
	}
}
