@use '~@proton/styles/scss/meet/meet-breakpoints' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints;

.dashboard-meeting-list-tabs {
	&.is-stuck {
		margin-block-end: 5rem;

		@include im.media('<=small') {
			margin-block-end: 13.75rem;
		}
	}

	.meeting-list-tab-counter {
		background: var(--background-card);
		font-size: 0.75rem;
	}

	.meeting-tab-button {
		&-active,
		&-disabled {
			&:hover {
				background-color: transparent;
				color: var(--interaction-weak);
			}

			&:active,
			&:focus {
				background-color: transparent;
			}
		}

		&-active {
			color: var(--text-norm);

			&:active,
			&:focus {
				color: var(--text-norm);
			}
		}

		&-disabled {
			color: var(--text-disabled);

			&:active,
			&:focus {
				color: var(--text-disabled);
			}
		}
	}
}
