@use '~@proton/styles/scss/lib/config' as *;
@use '~@proton/styles/scss/meet/meet-breakpoints' as *;
@use '~@proton/styles/scss/lib/include-media' as im;
im.$breakpoints: $breakpoints;
im.$media-expressions: $media-expressions;

.meeting-list-header {
	inset-block-start: -1px;
	z-index: 10;

	&.is-stuck {
		position: fixed;
		inline-size: 100vw;
		inset-block-start: 0;
		inset-inline-start: 0;
		padding-inline: 3.75rem;
		padding-block: 1.25rem;
		background-color: rgb(0 0 0 / 0.16);
		backdrop-filter: blur(12px);

		@include im.media('<=small') {
			padding-inline: 1.5rem;
		}
	}

	.search-input {
		border: 1px solid var(--border-norm) !important;
		background: var(--background-card);

		&:hover,
		&:active,
		&:focus {
			background: var(--interaction-default-hover);
		}
	}

	.list-toolbar-schedule-button {
		background: var(--interaction-weak);
		border-color: var(--border-card);
		font-size: 0.875rem;

		&:hover,
		&:active,
		&:focus {
			background: var(--interaction-weak-major-1);
		}
	}

	.sort-dropdown-button {
		background: var(--background-card);
		border: 1px solid var(--border-card);
		font-size: 0.875rem;

		&:hover,
		&:active,
		&:focus {
			background: var(--interaction-default-hover);
		}
	}
}
