.room-list {
	.add-meeting-room-button {
		background: var(--background-card);
		border-radius: 0;
		border-end-start-radius: 2rem;
		border-end-end-radius: 2rem;
		border: 1px dashed var(--border-weak);

		&:hover,
		&:active,
		&:focus {
			background: var(--background-weak);
			outline: none;

			.placeholder-button-icon-container {
				border-color: var(--text-disabled);
			}
		}
	}
}
